{% form_theme delete_form.submit 'LthrtTemplateBundle:Form:delete_widget.html.twig' %}
{% embed 'LthrtTemplateBundle:Modal:modal.html.twig' with {'modalName': 'modal' } %}
    {% block modalTitle %}
        <h2>Person Edit: {{form.vars.data.firstName}}  {{form.vars.data.lastName}}</h2>
    {% endblock modalTitle %}
    {% block modalBody -%}
        {% include 'LthrtContactBundle:Person:form.html.twig' with { 'label' : 'Saved' } %}
        {{ form_start(delete_form)}}
        <div class="pull-right">
            {{ form_widget(delete_form.submit) }}
        </div>
        {{ form_rest(delete_form)}}
    {% endblock modalBody %}
    {% block modalFooterBlock %}
    {% endblock modalFooterBlock %}
{% endembed %}