{% extends 'LthrtTemplateBundle::dashboard.html.twig' %}
{% block widget1 %}
    {% include 'LthrtContactBundle:Person:raceDemographic.html.twig' %}
{% endblock widget1 %}
{% block widget2 %}
    {% include 'LthrtContactBundle:Person:genderDemographic.html.twig' %}
{% endblock widget2 %}
{% block widget3 %}
    {% include 'LthrtContactBundle:Person:ethnicityDemographic.html.twig' %}
{% endblock widget3 %}
{% block widget4 %}{% endblock widget4 %}
{% block content %}
    <h1>Person list</h1>
    <table class="records_list table-bordered table-condensed table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th>Active</th>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Dob</th>
                <th>Demographic</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for person in personCollection %}
                <tr>
                    <td>{{ person.active|boolean|raw }}</td>
                    <td><a href="{{ path('person_show', { 'person': person.id }) }}">{{ person.id }}</a></td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{% if person.dob %}{{ person.dob|date('Y-m-d') }}{% endif %}</td>
                    <td><ul>{% for demo in person.demographic|sort %}<li>{{ demo.value }}</li>{% endfor %}</ul></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('person_show', { 'person' : person.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('person_edit', { 'person' : person.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('person_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock content %}
{%- block js -%}
    {{- parent() -}}
    {% include 'LthrtContactBundle:Widget:demographicBarJs.html.twig' %}
    {% include 'LthrtContactBundle:Widget:demographicPieJs.html.twig' %}
{%- endblock js -%}
