{% extends 'LthrtTemplateBundle::dashboard.html.twig' %}
{% block content %}
    <h1>Person list</h1>
    <table class="records_list table-bordered table-condensed table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Dob</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for person in personCollection %}
                <tr>
                    <td><a href="{{ path('person_show', { 'person': person.id }) }}">{{ person.id }}</a></td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{% if person.dob %}{{ person.dob|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ person.active|boolean|raw }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('person_show', { 'person' : person.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('person_edit', { 'person' : person.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('person_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock content %}
{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}
{# {% endembed %} #}
