{% form_theme delete_form 'AppBundle:Form:delete_inline_form.html.twig' %}
{% extends 'AppBundle::base.html.twig' %}
{% block contentbody %}
        <h2 class="form-inline">Person Detail: {{person.firstName}}  {{person.lastName}}
            {{ form_start(delete_form) }}
            {{- form_widget(delete_form.submit) -}}
            {{ form_rest(delete_form) }}
        </h2>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-sm-2"><label>Firstname</label>
        </div>
        <div class="col-sm-10">
            {{ person.firstName }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label>Lastname</label>
        </div>
        <div class="col-sm-10">
            {{ person.lastName }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label>Dob</label>
        </div>
        <div class="col-sm-10">
            {{ person.dob|date('Y-m-d H:i:s') }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <label>Active</label>
        </div>
        <div class="col-sm-10">
            {{ person.active|boolean|raw }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <a href="{{ path('person_edit', { 'person' : person.id }) }}" class="btn btn-default">
                <span class="fa fa-pencil"></span>&nbsp;Edit
            </a>
        </div>
        <div class="col-sm-4">
            {{ form_start(delete_form)}}
            {{ form_widget(delete_form.submit) }}
            {{ form_rest(delete_form)}}
        </div>
    </div>

    {{log|json_pretty|raw}}
{% endblock contentbody %}