{% extends 'LthrtContactBundle:Contact:contact.html.twig' %}

{% block body -%}
    <h1>Contact</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Active</th>
                <td>{{ contact.active }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ contact.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ contact.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ contact.value }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contact') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('contact_edit', { 'contact' : contact.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock body %}
