{% extends 'LthrtContactBundle:CountyState:countystate.html.twig' %}

{% block body -%}
    <h1>County State Form</h1>
    {{ form_start(form) }}
    {{ form_row(form.county) }}
    {{ form_row(form.state) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock body %}
