{% extends 'LthrtContactBundle:County:county.html.twig' %}

{% block body -%}
    <h1>County State Form</h1>
    {{ form_start(form) }}
    {{ form_row(form.county) }}
    {{ form_row(form.state) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}

<script src="/eval/bundles/lthrtschemavisualizer/js/jquery.min.js"></script>

<script>
var state = $('#lthrt_contactbundle_countystate_state');
// When sport gets selected ...
state.change(function() {
  // ... retrieve the corresponding form.
  var form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data['state'] = parseInt(state.val());
  console.log(data);
  console.log(form.attr('action'));
  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : form.attr('action'),
    type: form.attr('method'),
    data : data,
    success: function(html) {
        console.log($(html).find('#lthrt_contactbundle_countystate_county'));
      // Replace current position field ...
      $('#lthrt_contactbundle_countystate_county').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#lthrt_contactbundle_countystate_county')
      );
      // Position field now displays the appropriate positions.
    }
  });
});
</script>

{% endblock body %}
