{% extends 'LthrtContactBundle:Demographic:demographic.html.twig' %}

{% block body -%}
    <h1>Demographic</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Active</th>
                <td>{{ demographic.active }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ demographic.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ demographic.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ demographic.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ demographic.value }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('demographic_list') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('demographic_edit', { 'demographic' : demographic.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock body %}
