{% extends 'LthrtContactBundle:DemographicType:demographictype.html.twig' %}

{% block body -%}
    <h1>DemographicType</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Active</th>
                <td>{{ demographictype.active }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ demographictype.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ demographictype.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('demographictype_list') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('demographictype_edit', { 'demographictype' : demographictype.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock body %}
