{% block body -%}
    <h1>City Edit</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.state) }}
    {{ form_row(form.zip) }}
    {{ form_row(form.county) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
