{% extends 'LthrtContactBundle:County:county.html.twig' %}

{% block body -%}
    <h1>County Create</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.state) }}
    {{ form_row(form.city) }}
    {{ form_row(form.zip) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('county') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
